<div class="footer-container">
    <div class="footer-logo">
        <img src="../../../assets/images/Group 1.svg" alt="Rock Lighting & Electric">
    </div>
    <div class="footer-shop">
        <small>SHOP</small>
        <ul>
            <li>
                <a href="#">Indoor</a>
            </li>
            <li>
                <a href="#">Outdoor</a>
            </li>
            <li>
                <a href="#">Lighting Controls</a>
            </li>
            <li>
                <a href="#">Safety & Security</a>
            </li>
            <li>
                <a href="#">Electrical</a>
            </li>
            <li>
                <a href="#">Heating & Air</a>
            </li>
        </ul>
    </div>
    <div class="footer-company">
        <small>COMPANY</small>
        <ul>
            <li>
                <a href="#">About Us</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="#">Contact Us</a>
            </li>
        </ul>
    </div>
    <div class="footer-service">
        <small>CUSTOMER SERVICE</small>
        <ul>
            <li>
                <a href="#">FAQS</a>
            </li>
            <li>
                <a href="#">Return & Exchange</a>
            </li>
            <li>
                <a href="#">Shipping</a>
            </li>
            <li>
                <a href="#">Account</a>
            </li>
        </ul>
    </div>
    <div class="footer-follow">
        <div>
            <small>FOLLOW US</small>
            <ul>
                <li>
                    <a href="#">
                        <img src="../../../assets/images/Icon awesome-instagram.svg" alt="Instagram">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../../assets/images/Icon awesome-facebook-f.svg" alt="Facebook">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../../assets/images/Icon awesome-linkedin-in.svg" alt="Linkedin">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../../assets/images/Icon awesome-youtube.svg" alt="Youtube">
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <small>NEWSLETTER</small>
            <form>
                <input type="text" placeholder="Your email">
                <button type="submit">
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
            </form>
        </div>
    </div>
</div>

<hr>

<div class="copyright-section">
    <div>
        <p>© 2022 Rock Lighting & Electric. All rights reserved</p>
    </div>
    <div>
        <p>Privacy Policy | Terms of Service</p>
    </div>
</div>
