.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    padding: 11px 20px;
    background-color: #fff;
  
    .logo {
        margin-left: 25px;
        img {
            height: 58px;
        }
    }
  
    .nav {
        display: flex;
        gap: 30px;

        .dropdown {
            position: relative;
    
            &:hover .dropdown-menu {
                display: flex;
            }
        }
  
        a {
            margin: 0 20px;
            text-decoration: none;
            color: #303030;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            position: relative;

            &:hover {
                .dropdown-menu {
                    display: flex;
                }
            }
        }

        a.dropdown:hover, a:hover {
            color: #3693E0;
        }

        .dropdown-menu {
            display: none;
            position: absolute;
            top: calc(100% + 10px);
            left: 0;
            background-color: #fff;
            color: #303030;
            padding: 10px;
            box-shadow: 0px 0px 10px #00000014;
            z-index: 1;
            flex-direction: row;

            &::before {
                content: "";
                position: absolute;
                top: -10px;
                left: 20px;
                transform: translateX(-50%);
                border-width: 0 10px 10px 10px;
                border-style: solid;
                border-color: transparent transparent #fff transparent;
            }

            .column {
                margin: 26px 10px;

                a {
                    display: block;
                    padding: 5px 10px;
                    text-decoration: none;
                    color: #303030;
                    font-family: 'Roboto', sans-serif;
                    font-weight: normal;
                    font-size: 15px;
                }

                a:hover {
                    color: #3693E0;
                }

                img {
                    width: 430px;
                    height: 306px;
                }

                strong {
                    font-family: 'Barlow Condensed', sans-serif;
                    font-weight: 600;
                    font-size: 14px;
                    text-transform: uppercase;
                }
            }
        }
    }
  
    .icons {
        display: flex;
        gap: 15px;
        margin-right: calc(3%);
      
        a {
            position: relative;
            cursor: pointer;

            img {
                height: 20px;
                width: 20px;
            }

            .cart-count {
                position: absolute;
                top: -7px;
                right: -8px;
                background-color: #3693E0;
                color: #fff;
                border-radius: 50%;
                padding: 2px 5px;
                font-size: 12px;
            }
        }

        a:last-child {
            margin-right: 11.5px;
        }
    }
}

// Modal

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    .modal-content {
        background-color: #fff;
        padding: 134px 116px 0 111px;
        width: 1440px;
        height: 768px;
        max-width: 100%;
        position: relative;

        form {
            display: flex;
            flex-direction: row;

            input {
                width: 100%;
                padding: 10px;
                margin-bottom: 10px;
                border: none;
                border-bottom: 1px solid #303030;
                border-radius: 4px;
                color: #303030;
                font-family: 'Roboto', sans-serif;
                font-weight: 600;
                font-size: 25px;
            }

            input:focus {
                outline: none;
            }

            input::placeholder {
                color: #303030;
            }

            img {
                position: relative;
                top: 16px;
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }

        .close {
            position: absolute;
            top: 150px;
            right: 95px;
            font-size: 24px;
            cursor: pointer;
        }
    }
}

  
@media (max-width: 1170px) {
    .header {
        flex-direction: column;
        align-items: center;

        .icons {
            margin-top: 20px;
            margin-left: 50px;
        }
        
        .nav {
            flex-direction: column;
            width: 100%;

            .dropdown {
                &:hover .dropdown-menu {
                    display: none; // Disable hover effect
                }

                &.active .dropdown-menu {
                    display: flex; // Enable click effect
                    box-shadow: none !important;
                }

                .dropdown-menu .column img {
                    display: none;
                }
            }
        
            a {
                padding: 10px 0;
                width: 100%;
                text-align: center;
            }
        }
    }
}
  