.products {
    .swiper-products {
        display: flex;
        flex-direction: row;
        position: relative;
        gap: 20px;
  
        .swiper-slide {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: auto;

            div {
                position: relative;
                bottom: 30%;
            }
  
            img {
                max-width: 100%;
                height: auto;
                margin-bottom: 10px;
            }

            .product-details {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a background for better readability */
                padding: 10px;
                border-radius: 5px;
            }
  
            h3 {
                margin-bottom: 10px;
                color: #fff;
            }
  
            button {
                padding: 10px 20px;
                background-color: #fff;
                color: #303030;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 45px;
            height: 90px;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 10;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
        }

        .swiper-button-prev {
            left: 0;
        }

        .swiper-button-next {
            right: 0;
        }
    }

    .popular-products {
        display: flex;
        flex-direction: column;
        align-items: center;

        .popular-products-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .header-left {
                display: flex;
                align-items: center;
                margin-left: calc(5%); 

                h3 {
                    padding-right: 15px;
                }
            }
    
            .header-right {
                display: flex;
                align-items: center;
                margin-right: calc(5%);

                small {
                    padding-right: 15px;
                }
            }

            .horizontal-line{
                border: 1px solid #303030;
                width: 76px;
            }
        }
    }
}

.product-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    margin-left: calc(5%);
    margin-right: calc(5%);

    .popular-items-list {
        flex: 1 1 calc(25% - 10px); // Adjust to fit 4 items in a row with a 10px gap
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        cursor: pointer;

        img {
            width: 100%;
            height: auto;
            margin-bottom: 10px;
        }

        div {
            small,
            h4,
            p {
                margin: 0;
                color: #6D6D6D;
            }

            small {
                font-weight: bold;
            }

            h4 {
                padding: 10px 0;
            }
        }
    }
}

@media (max-width: 1170px) {
    .products {
        margin-bottom: 70px;
        .swiper-products {
            flex-direction: column;
            gap: 10px; // Adjust gap as needed

            .swiper-slide {
                width: 100%; // Make each slide take full width
                .product-details {
                    position: relative; // Adjust position for single column layout
                    transform: none; // Reset transform
                    top: auto;
                    left: auto;
                }

                div {
                    h3 {
                        color: #303030;
                    }
                    button {
                        border: 1px solid #303030;
                    }
                }
            }

            .swiper-button-prev,
            .swiper-button-next {
                display: none;
            }
        }

        .product-items {
            flex-direction: column;
            margin-left: 0;
            margin-right: 0;
            gap: 20px; // Adjust gap as needed

            .popular-items-list {
                flex: 1 1 100%;
            }
        }

        .popular-products {
            .popular-products-header {
                flex-direction: column;
                align-items: center;
                margin: 30px 0;

                .header-left,
                .header-right {
                    margin-left: 0;
                    margin-right: 0;
                    margin-bottom: 10px; // Add margin between header sections
                }

                .horizontal-line {
                    width: 100%; // Adjust line width if needed
                }
            }
        }
    }

    .product-items {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        gap: 20px; // Adjust gap as needed
    
        .popular-items-list {
            flex: 1 1 100%; // Make each item take full width
            display: flex;
            flex-direction: row; // Ensure image and text are in a row
            align-items: center;
            margin-bottom: 20%; // Add margin between items if needed
            text-align: left; // Align text to the left
    
            img {
                width: 30%; // Adjust width as needed
                margin-right: 20px; // Space between image and text
            }
    
            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
    
                small,
                h4,
                p {
                    margin: 0;
                    color: #6d6d6d;
                }
    
                small {
                    font-weight: bold;
                }
    
                h4 {
                    padding: 10px 0;
                }
            }
        }
    }    
}

