<div class="container">
    <div class="hero-text">
        <div class="border-left">
            <div>
                <p>PLACEHOLDER TEXT</p>
                <h1>Lorem ispum <br> dolor sit amet <br> consectetur</h1>
            </div>
            <div>
                <small>
                    Shop Indoor Lighting 
                </small>
                <span>
                    <img src="../../../assets/images/Group 445.svg" alt="Group 445">
                </span>
            </div> 
        </div>
        <div class="hover-image">
            <img src="../../../assets/images/Image 18.png" alt="Image 18">
        </div>   
    </div>

    <div class="hero-image-section">
        <img src="../../../assets/images/Rectangle170.png" alt="Rectangle170">
    </div>

    
</div>

<div class="top-brands-bottom">
    <div class="top-brands-header">
        <p>OUR TOP BRANDS</p>
    </div>
    <div class="top-brands-list">
        <img src="../../../assets/images/EATON-LOGO-grey.png" alt="EATON-LOGO-grey">
        <img src="../../../assets/images/leviton-logo-grey.png" alt="leviton-logo-grey">
        <img src="../../../assets/images/siemens-logo-grey.png" alt="siemens-logo-grey">
        <img src="../../../assets/images/lutron-logo-grey.png" alt="lutron-logo-grey">
        <img src="../../../assets/images/EATON-LOGO-grey.png" alt="EATON-LOGO-grey">
    </div>
    <div class="top-brand-list-hover">
        <img src="../../../assets/images/EATON-LOGO-blue.png" alt="EATON-LOGO-blue">
        <img src="../../../assets/images/leviton-logo-blue.png" alt="leviton-logo-blue">
        <img src="../../../assets/images/siemens-logo-blue.png" alt="siemens-logo-blue">
        <img src="../../../assets/images/lutron-logo-blue.png" alt="lutron-logo-blue">
        <img src="../../../assets/images/EATON-LOGO-blue.png" alt="EATON-LOGO-blue">
    </div>
    <div>
        <button class="button" type="button">
            SEE ALL BRANDS
        </button>
    </div>
</div>

<div class="home-section-layout">
    <app-products></app-products>
    <app-gallery></app-gallery>
</div>
