.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

    .hero-text {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 25px;

        .border-left {
            border-left: 1px solid black;
            padding: 25px;
        }

        h1 {
            color: #303030;
            margin: 35px 0;
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 600;
            font-size: 65px;
        }

        p {
            color: #303030;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            letter-spacing: 3.2px;
            text-transform: uppercase;
        }

        small {
            padding-right: 15px;
            color: #303030;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            cursor: pointer;
        }

        small:hover {
            color: #3693E0;
        }

        .hover-image {
            img {
                position: absolute;
                top: 15%;
                left: 35%;
            }
        }
    }

    .hero-image-section {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: auto;
        margin-right: calc(5%);
    }
}

.top-brands-bottom {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
    margin: 20px 0;
    align-items: center;

    .top-brands-list, .top-brand-list-hover {
        img {
            padding-left: 35px;
            padding-right: 35px;
            cursor: pointer;
        }
    }

    .top-brand-list-hover {
        display: none;
    }

    .button {
        width: 177px;
        height: 43px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #303030;
        cursor: pointer;
        color: #303030;
    }

    .top-brands-header {
        font-family: 'Robto Condensed', sans-serif;
        font-weight: normal;
        font-size: 16px;
        color: #303030;
        letter-spacing: 3.2px;
        text-transform: uppercase;
    }
}

.home-section-layout {
    margin: 100px 0;
}

@media (max-width: 1170px) {
    .container {
        flex-direction: column;

        .hero-text {
            width: 100%;
            align-items: center;

            .border-left {
                border-left: none !important;
            }
        }

        .hero-image-section {
            width: 100%;
            margin-right: 0 !important;
        }

        .hover-image {
            display: none;
        }
    }

    .top-brands-bottom {
        .top-brands-list {
            display: flex;
            flex-direction: column;

            img {
                margin: 10px 0;
            }
        }
    }
}