<div class="container">
    <div class="hero-text">
        <div class="border-left">
            <div>
                <p>PLACEHOLDER TEXT</p>
                <h1>Lorem ispum dolor sit amet consectetur</h1>
            </div>
            <div>
                <small>
                    Shop Indoor Lighting 
                </small>
                <span>
                    <i class="fa-solid fa-arrow-right"></i>
                </span>
            </div> 
        </div>
        <div class="hover-image">
            <img src="../../../assets/images/Image 18.png" alt="Image 18">
        </div>   
    </div>

    <div class="hero-image-section">
        <img src="../../../assets/images/Rectangle170.png" alt="Rectangle170">
    </div>

    
</div>

<div class="top-brands-bottom">
    <div>
        <p>OUR TOP BRANDS</p>
    </div>
    <div class="top-brands-list">
        <img src="../../../assets/images/EATON-LOGO-grey.png" alt="EATON-LOGO-grey">
        <img src="../../../assets/images/leviton-logo-grey.png" alt="leviton-logo-grey">
        <img src="../../../assets/images/siemens-logo-grey.png" alt="siemens-logo-grey">
        <img src="../../../assets/images/lutron-logo-grey.png" alt="lutron-logo-grey">
        <img src="../../../assets/images/EATON-LOGO-grey.png" alt="EATON-LOGO-grey">
    </div>
    <div>
        <button class="button" type="button">
            SEE ALL BRANDS
        </button>
    </div>
</div>
